---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <h1>Once Again: プログラマのキャリア再生の道</h1>
  <h2>サイト「Once Again - <ruby>プログラマのキャリア再生の道<rp>(</rp><rt>The Path to Rebirth of Programmer's Career</rt><rp>)</rp></ruby>」について</h2>
</Layout>
